<!DOCTYPE html>
<html>

<head>
    <!--bootstrap loaded in-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{> header }}
        <p> Use this site to get your weather</p>

        <form>
            <input placeholder="Location">
            <button class="btn btn-secondary">Search</button>
            <!-- Really Nice Toggle Switch -->
            <div class="sliderWrapper">
            <div>Celsius Mode&nbsp;&nbsp;</div>
            <label class="switch">
                <input type="checkbox" id="celsius">
                <span class="slider"></span>
            </label>
        </div>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{> footer }}

    <script src="/js/app.js"></script>
</body>


</html>